<h1> Lobster Shack </h1>
	<br>
		<% @foods.each do |food| %>
	<h2>
		<%=food.name %>
	</h2>

	<div>
		<%= truncate(food.description, :length => 20) %>
	</div>
	<br>
		<%= link_to "Additional Info", food %>
		<% end %>
<br>
		<% @menus.each do |menu| %>
	<h2>
		<%= menu.meal %>
	</br>
		<%= menu.cost %>
	<% end %>
 
